.ant-divider-horizontal{
    min-width: 0 !important;
}

.ant-card-body {
    padding:15px !important;
    text-align: -moz-center !important;
    padding:'3em' !important;
}

// .ant-list-split .ant-list-item {
//     border-bottom: unset !important;
// }

.ant-list-item-content {
    justify-content: center !important;
}